<%- include('parts/html-head') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <form name="form1" onsubmit="sendData();return false">
                <div class="mb-3">
                    <% for(let i in data1){ 
                        const val = data1[i];
                        %>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="<%= i %>" id="cb<%= i %>" name="hobby">
                        <label class="form-check-label" for="flexCheckDefault">
                          <%= val %>
                        </label>
                    </div>
                    <% } %>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>

<%- include('parts/scripts') %>
<script>
 
function sendData() {
    $.post('', $(document.form1).serialize(), function(data){
        console.log(data);
    }, 'json');
}
</script>
<%- include('parts/html-foot') %>