<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
    
                <div class="card-body">
                  <h5 class="card-title">新增資料</h5>

                  <form name="form1" onsubmit="sendData(); return false;">
                    <div class="mb-3">
                      <label for="ename" class="form-label">姓名 **</label>
                      <input type="text" class="form-control" id="ename" name="ename">
                      <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                      <label for="mobile" class="form-label">電話 **</label>
                      <input type="text" class="form-control" id="mobile" name="mobile">
                      <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                      <label for="email" class="form-label">電郵 **</label>
                      <input type="text" class="form-control" id="email" name="email">
                      <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label for="hiredate" class="form-label ">入職日 **</label>
                        <input type="date" class="form-control" id="hiredate" name="hiredate" value="<%= toDateString(Date())  %>">
                        <div class="form-text"></div>
                    </div>

                      <div class="mb-3">
                        <label for="salary" class="form-label">薪資 **</label>
                        <input type="text" class="form-control" id="salary" name="salary">
                        <div class="form-text"></div>
                      </div>

                      
                        <label for="deptno" class="form-label">部門</label>
                        <select class="form-select form-select-sm" id="deptno" name="deptno" aria-label=".form-select-sm example">
                          
                          <option value="1">管理部</option>
                          <option value="2">會計部</option>
                          <option value="3">業務部</option>
                          <option value="4">製造部</option>
                          <option value="5">研發部</option>
                          <option value="6">品管部</option>
                        
                        
                        
                      
                      

                      
                        <label for="level" class="form-label">職稱</label>
                        <select class="form-select form-select-sm" id="level" name="level" aria-label=".form-select-sm example">
                          
                          <option value="C1">會計師</option>
                          <option value="C2">資深會計師</option>
                          <option value="C3">會計部經理</option>
                          <option value="M1">技術員</option>
                          <option value="M2">領班</option>
                          <option value="M3">製造部經理</option>
                          <option value="N1">助理</option>
                          <option value="N2">管理師</option>
                          <option value="N3">資深管理師</option>
                          <option value="N4">管理部經理</option>
                          <option value="Q1">品管助理</option>
                          <option value="Q2">品管工程師</option>
                          <option value="Q3">品管部經理</option>
                          <option value="R1">研究助理</option>
                          <option value="R2">研發工程師</option>
                          <option value="R3">資深研發工程師</option>
                          <option value="R4">研發部經理</option>
                          <option value="S1">業務助理</option>
                          <option value="S2">業務工程師</option>
                          <option value="S3">業務經理</option>
                     
                        
                      

                    <button type="submit" class="btn btn-primary">新增</button>
                  </form>



                </div>
              </div>


        </div>
    </div>



</div>

<%- include('parts/scripts') %>
<script>
const ename = $('#ename');
const mobile = $('#mobile');
const email = $('#email');
const hiredate = $('#hiredate');
const salary = $('#salary');
const deptno = $('#deptno');
const title = $('#title');
const email_re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
const mobile_re = /^09\d{2}-?\d{3}-?\d{3}$/;

function sendData(){
  ename.next().html('');
  ename.css({ border: '1px solid #CCCCCC' });
  mobile.next().html('');
  mobile.css({ border: '1px solid #CCCCCC' });
  email.next().html('');
  email.css({ border: '1px solid #CCCCCC' });
  salary.next().html('');
  salary.css({ border: '1px solid #CCCCCC' });

    // TODO: 欄位資料的檢查
    let isPass = true;

    if(ename.val().length < 2){
        isPass = false;
        //alert('請輸入正確的姓名');
        ename.next().html('請輸入正確的姓名');
        ename.css({
            border: '1px solid red'
        });
    }

    if(! email_re.test(email.val())){
        isPass = false;
        email.next().html('請輸入正確的 email');
        email.css({
            border: '1px solid red'
        });
    }

    if(! mobile_re.test(mobile.val())){
        isPass = false;
        mobile.next().html('請輸入正確的手機號碼');
        mobile.css({
            border: '1px solid red'
        });
    }

    if(salary.val() < 25250){
        isPass = false;
        salary.next().html('勞基法薪資25250');
        salary.css({
            border: '1px solid red'
        });
    }


    if(isPass) {
        $.post('', $(document.form1).serialize(), function(data){
            console.log(data);
            if(data.success){
              alert('資料新增成功');
              location.href = '/employee'; // 轉向到列表頁
            } else {
              alert(data.error || '資料新增失敗');
            }
        }, 'json');

    }

}


</script>
<%- include('parts/html-foot') %>