<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">


    <div class="row">
        <div class="col-lg-6">
            <div class="card">
    
                <div class="card-body">
                  <h5 class="card-title">編輯資料</h5>

                  <form name="form1" onsubmit="sendData(); return false;">
                    <div class="mb-3">
                      <label for="ename" class="form-label">姓名 **</label>
                      <input type="text" class="form-control" id="ename" name="ename" value="<%= ename %>">
                      <div class="form-text"></div>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">電郵 **</label>
                      <input type="text" class="form-control" id="email" name="email">
                      <div class="form-text"></div>
                    </div>

                    <div class="mb-3">
                        <label for="hiredate" class="form-label ">入職日 **</label>
                        <input type="date" class="form-control" id="hiredate" name="hiredate" value="<%= toDateString(hiredate) %>">
                        <div class="form-text"></div>
                    </div>

                        <div class="mb-3">
                        <label for="salary" class="form-label">薪資 **</label>
                        <input type="text" class="form-control" id="salary" name="salary" value="<%= salary %>">
                        <div class="form-text"></div>
                      </div>

                      <div class="mb-3">
                        <label for="dname" class="form-label">部門</label>
                        <input type="text" class="form-control" id="dname" name="dname" value="<%= deptno %>">
                      </div>

                      <div class="mb-3">
                        <label for="title" class="form-label">職稱</label>
                        <input type="text" class="form-control" name="title" id="title" value="<%= title %>"></input>
                      </div>

                    <button type="submit" class="btn btn-primary">修改</button>
                  </form>



                </div>
              </div>


        </div>
    </div>



</div>

<%- include('parts/scripts') %>
<script>
const ename = $('#ename');
const hiredate = $('#hiredate');
const salary = $('#salary');
const deptno = $('#deptno');
const title = $('#title');

function sendData(){
  ename.next().html('');
  ename.css({ border: '1px solid #CCCCCC' });
  hiredate.next().html('');
  hiredate.css({ border: '1px solid #CCCCCC' });
  salary.next().html('');
  salary.css({ border: '1px solid #CCCCCC' });

    // TODO: 欄位資料的檢查
    let isPass = true;

    if(ename.val().length < 2){
        isPass = false;
        //alert('請輸入正確的姓名');
        ename.next().html('請輸入正確的姓名');
        ename.css({
            border: '1px solid red'
        });
    }

    // if(hiredate>Now()){
    //     isPass = false;
    //     hiredate.next().html('請輸入正確的日期');
    //     hiredate.css({
    //         border: '1px solid red'
    //     });
    // }

    if(salary.val() < 25250){
        isPass = false;
        salary.next().html('請遵守勞基法給薪');
        salary.css({
            border: '1px solid red'
        });
    }


    if(isPass) {
        $.post('', $(document.form1).serialize(), function(data){
            console.log(data);

            if(data.success){
              alert('資料修改成功');
              location.href = '<%- referer %>' || '/employee'; // 轉向
              
            } else {
              alert(data.error || '資料沒有修改');
            }
        }, 'json');

    }

}


</script>
<%- include('parts/html-foot') %>