<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" 
                    name="email" aria-describedby="emailHelp">
                    <div class="form-text"><%= (typeof email==='undefined') ? '' : email %></div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    <div class="form-text"><%= locals.password ? password : '' %></div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="cb" value="hello">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>