<style>
  .navbar .nav-item .nav-link.active{
    background-color: rgb(98, 155, 240);
    color: white;
    font-weight: 400;
    border-radius: 5px;
  }

</style>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">大公司</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link <%= pageName==='home' ? 'active' : '' %> " href="/">人事系統</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link <%= pageName==='emp-list' ? 'active' : '' %>" href="/employee">員工資料表</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= pageName==='x' ? 'active' : '' %>" href="/">薪資管理</a>
              </li>
              
             
              <li class="nav-item">
                
                <a class="nav-link <%= pageName==='emp-add' ? 'active' : '' %>" href="/employee/add" >新增</a>
                
              </li>
             
            </ul>
            
            <ul class="navbar-nav mb-2 mb-lg-0">
              <% if(admin){ %>
                
                <li class="nav-item">
                  <a class="nav-link"><%= admin %></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">登出</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">登入</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">註冊</a>
                </li>
              <% } %>

            </ul>

          </div>
        </div>
      </nav>
</div>